main {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;

	max-width: 400px;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media (max-width: 400px) {
	main {
		max-width: 100%;
		width: 100%;
		padding: 10px;
	}
}

.token-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	border: 1px solid var(--secondary-color);
	border-radius: 10px;
	padding: 10px;
	gap: 10px;
	width: 100%;
	height: 46px;
	margin-left: 10px;
	margin-right: 10px;
	box-sizing: border-box;
	.token {
		white-space: nowrap;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.token-controls-container {
	margin-left: auto;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-items: center;
	gap: 10px;
	padding: 0 10px;
}

.fa-solid {
	&:hover {
		color: var(--primary-color);
	}
}
