:root {
	--secondary-color: #2e4975;
	--primary-color: #1fb393;
}

body,
html {
	padding: 0px;
	margin: 0px;
	font-family: 'Open Sans', sans-serif;

	display: flex;
	flex-direction: column;

	overflow-y: scroll;
	scrollbar-width: thin;
	scrollbar-color: var(--secondary-color) rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;
}

p,
span,
div,
li {
	color: #3f414b;
	font-family: 'Open Sans', sans-serif;
}

.clickable-ico:hover {
	color: var(--primary-color);
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ellipsis-text {
	white-space: nowrap; /* Keep text on a single line */
	overflow: hidden; /* Hide overflowing text */
	text-overflow: ellipsis; /* Show "..." at the end */
}

.meta-data-container {
	font-size: 12px;
	user-select: none;
}

progress {
	-webkit-appearance: none;
}

::-webkit-progress-value {
	background-color: var(--secondary-color); /* Color of the filled portion */
	border-radius: 10px;
}

::-webkit-progress-bar {
	background-color: rgba(231, 231, 231, 0.477);
	border: 1px solid var(--secondary-color);
	border-radius: 10px;
	height: 10px;
}

.search-bar {
	padding: 10px;
	width: 100%;
	height: fit-content;
	border: 1px solid var(--secondary-color);
	border-radius: 10px;
	box-sizing: border-box;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;

	font: inherit;
	font-size: 14px;

	input {
		outline: none;
		width: 100%;
		border: none;
		font: inherit;
		font-size: 14px;
		padding: 0;
		border-radius: 0;

		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
}

select {
	&,
	&::picker(select) {
		appearance: base-select;
	}
	&::picker(select) {
		border: 1px solid var(--secondary-color);
		font: inherit;
		border-radius: 10px;
	}
}

input,
textarea,
select {
	font: inherit;
	font-size: 14px;
	outline: none;
	border: 1px solid var(--secondary-color);
	border-radius: 10px;
	padding: 6px 10px;
	width: 100%;
	box-sizing: border-box;
}
