<template>
	<dialog class="download-popup">
		<div class="input-container">
			<label for="download-url">URL</label>
			<input type="url" id="download-url" placeholder="example.com" class="download-url" />
		</div>
		<div class="input-container">
			<label for="file-name">Save file name</label>
			<input type="text" id="file-name" placeholder="image.jpg" class="save-file-name" />
		</div>
		<div class="input-container">
			<label for="folder-location">Select download folder</label>
			<select id="folder-location" value="imagesDir" class="download-folder-input">
				<option value="image">Images</option>
				<option value="video">Videos</option>
				<option value="audio">Audios</option>
				<option value="compressed">Compressed</option>
				<option value="document">Documents</option>
				<option value="other">Others</option>
			</select>
		</div>

		<span class="warn"></span>
		<div class="button-container">
			<button class="done-btn" title="Download from Download Manager">
				<i class="fa-solid fa-download"></i> Download
			</button>
			<button class="download-with-chrome" title="Download trough Chrome">
				<i class="fa-brands fa-chrome"></i> Download
			</button>
			<button class="cancel-btn" title="Cancel download">Cancel</button>
		</div>

		<style>
			.download-popup {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				flex-wrap: nowrap;
				gap: 10px;

				width: 100%;
				height: fit-content;
				font: inherit;

				label {
					padding-left: 4px;
					font-size: 14px;
				}

				.input-container {
					width: 100%;
				}

				.warn {
					color: rgb(249, 43, 43);
					font-size: 12px;
					padding-left: 4px;
				}

				.button-container {
					display: flex;
					flex-direction: row;
					justify-content: left;
					align-items: center;
					gap: 10px;
					width: 100%;

					button {
						height: 32px;
						color: white;
						font-weight: bold;
						cursor: pointer;
					}

					.cancel-btn,
					.download-with-chrome {
						background-color: var(--secondary-color);
						width: max-content;
					}
					.done-btn {
						width: max-content;
					}
				}
			}

			@media (orientation: landscape) {
				.download-popup {
					width: 600px;
					padding: 10px;
				}
			}
		</style>
	</dialog>
</template>
